body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #121517;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

}

.header-inner {
    display: flex;
    align-items: center;
    gap: 94px;
    padding: 48px 0;
}

.header-inner-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 70px;
    margin: 0;
    padding: 0;
}

.header-inner-list-item a {
    text-decoration: none;
    font-weight: 500;
    color: #D9D9D9;
    font-size: 19px;
    padding: 0 0 5px 0;
    transition: 0.2s ease;
}

.header-inner-list-item a:hover {
    transition: 0.2 ease;
    border-bottom: 1px solid gray;
}

.cafe {
    position: relative;
    background-repeat: no-repeat;
    background-size: 350px, 472px 680px, 509px, 910px 676px;
    background-position: calc(50% - 450px) calc(50% - 116px), calc(50% + 330px) calc(50% - 65px), calc(50% + 270px) calc(50% - 100px), calc(50% + 336px) calc(50% + 176px);
    background-image: url("../images/green.png"), url("../images/sectionlogo.png"), url("../images/white.png"), url("../images/section-2.png");
}



.cafe-inner {
    max-width: 574px;
    width: 100%;
    padding: 52px 0 50px 0;
}

/* .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px
} */

.cafe-inner-top {
    max-width: 574px;
    width: 100%;
}

.cafe-inner-top-title {
    margin: 0 0 42px 0;
    font-size: 70px;
    color: #fff;
    ;
}

.cafe-inner-top-title-span {
    background: linear-gradient(180deg, #237249, #35C66B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cafe-inner-top-pages {
    color: #D9D9D9;
    font-size: 19px;
    margin: 0 0 54px 0;
    word-spacing: 3px;
    font-weight: 400;
    line-height: 30px;
}

.cafe-inner-top-list {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 92px;
}

.cafe-inner-top-list-item-left-link {
    padding: 22px 78px 24px 78px;
    background: #2e8d52;
    text-decoration: none;
    border-radius: 50px;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.cafe-inner-top-list-item-right-link {
    padding: 22px 78px 24px 78px;
    text-decoration: none;
    border-radius: 50px !important;
    color: #fefbfb;
    font-size: 22px;
    font-weight: 500;
    border: 2px solid rgb(76, 76, 76)
}





.cafe-inner-bottom-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 46px;
}

.cafe-inner-bottom-list-item {
    width: 126px;
}

.cafe-inner-bottom-list-item h2 {
    color: #fff;
    font-size: 46px;
    font-weight: 500;
    margin: 0;
}

.cafe-inner-bottom-list-item p {
    margin: 0;
    color: #D9D9D9;
}

.cafe-inner-bottom-list-item span {
    color: #35C66B;
}





.reklama {
    padding: 40px 0;
    position: relative;
}

.reklama-inner {
    background-color: white;
    max-width: 1029px;
    width: 100%;
    border-radius: 50px;
    margin: 0 auto;
    padding: 30px;
}

.reklama-inner-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.reklama-inner-list-item {
    max-width: 250px;
    text-align: center;
}

.reklama_inner_list_item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.reklama-inner-list-item-title {
    color: #121517;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.reklama-inner-list-item-text {
    color: #121517;
    font-size: 18px;
}

.have-img {
    position: relative;
    bottom: 550px;
    left: 15px;
    max-width: 200px;
}







.delicious {
    color: #fff;
    padding: 60px 0;
    background-image: url("../images/lines.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 455px) calc(50% + 300px);

}

.container {
    max-width: 1294px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px
}

.delicious-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}



.delicious-inner-left img {
    width: 100%;
    border-radius: 12px;
    /* box-shadow: 0 10px 25px rgba(0, 255, 120, 0.1); */
    position: relative;
}

.delicious-inner-right {
    max-width: 500px;
    width: 100%;
}

.delicious-inner-right-title {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    color: #fff;
}

.delicious-inner-right-title span {
    font-size: inherit;
    background: linear-gradient(to right, #35C66B 0%, #237249 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.delicious-inner-right-text {
    color: #D9D9D9;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.delicious-inner-right img {
    max-width: 100%;
}

.information {
    /* padding: 70px, 0; */
}

.information-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.information-inner-top-left {
    max-width: 500px;
}

.information-inner-top-left-title {
    font-size: 78px;
    line-height: 80px;
    font-weight: bolder;
    color: #D9D9D9;
    margin-bottom: 45px;
}

.information-inner-top-left-title span {
    color: #237249;
}

.information-inner-top-right {
    max-width: 500px;
}

.information-inner-bottom-right-text {
    margin-left: 72px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 300;
    color: #D9D9D9;
}



.links {
    background: #121517;
    padding: 60px 0;
    background-image: url("../images/links-line.png");
    background-repeat: no-repeat;
    background-position: calc(50% - 610px) calc(50% - 135px);
}

.links-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.links-inner-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.links-inner-top-left-text {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: #D9D9D9;
}

.links-inner-top-right-title {
    margin-left: 72px;
    font-size: 78px;
    line-height: 80px;
    font-weight: bolder;
    color: #D9D9D9;
    margin-bottom: 45px;
}

.links-inner-top-right-title span {
    color: #237249;
}


.links-inner-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links-inner-bottom-row {
    display: flex;
    gap: 20px;
}

.links-card {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}

.links-card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    z-index: 1;
}

.links-card-content {
    position: relative;
    z-index: 2;
}

.links-card-title {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 15px;
}

.links-card-btn {
    display: inline-block;
    background: #00b352;
    color: #fff;
    padding: 12px 35px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}

.links-card-btn:hover {
    background: #00963f;
    transform: scale(1.05);
}

.card-1 {
    flex: 1;
}

.card-2 {
    flex: 1.5;
}

.card-3 {
    flex: 0.8;
}

.card-4 {
    flex: 0.7;
}

.card-5 {
    flex: 1;
}

.card-1 .links-card-bg {
    background-image: url("../images/links.png");
}

.card-2 .links-card-bg {
    background-image: url("../images/links-2.png");
}

.card-3 .links-card-bg {
    background-image: url("../images/links-3.png");
}

.card-4 .links-card-bg {
    background-image: url("../images/links-4.png");
}

.card-5 .links-card-bg {
    background-image: url("../images/links-5.png");
}


.contacts {
    padding: 60px 0;
    background-image: url("../images/contacts-lines.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 290px) calc(50% + 295px);
}

.contacts-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.contacts-inner-left {
    max-width: 400px;
}

.contacts-inner-left-title {
    margin: 0 0 42px 0;
    font-size: 70px;
    color: #fff;
}

.contacts-inner-left-title span {
    color: #237249;
}

.contacts-inner-left-text {
        color: #D9D9D9;
    font-size: 19px;
    margin: 0 0 54px 0;
    word-spacing: 3px;
    font-weight: 400;
    line-height: 30px;
}

.contacts-inner-left-box {
    margin-top: 30px;
}

.contacts-inner-left-box-item {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.contacts-inner-left-box-item-text h3 {
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.contacts-inner-right img {
    max-width: 100%;
    height: auto;
}